{% extends 'base.html' %}

{% block content %}
<div style="border-radius: 2em;"> 
    <table class="">
        <tbody>
            <tr>
                <td class="txtarea">불만 사유:</td>
                <td><textarea style="width: 10cm; height: 10cm;"></textarea></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="complain_button">    
    <div style="text-align: center; display: inline-block;">
        <button type="submit" nClick="location.href='index.html'">등록</button>
    </div>
    <div style="text-align: center; display: inline-block;">
        <button type="submit" nClick="location.href='index.html'">취소</button>
    </div>
</div>
<script language="javascript">
    function showPopup() { 
        window.open("layer.html", "a", "width=400, height=300, left=100, top=50"); 
    }
</script>
{% endblock %}
