{% extends 'base.html' %}

{% block content %}


<body>
    <div class="bottom">
        <div class="wrapper">
            <div class="wrapper_bar">
                <div>수업 교재 검색</div>
            </div>
            <div >
                <form class="search_class">
                    <!-- <label for="username">Username:</label><br> -->
                    <input type="text" id="code" name="code" placeholder="과목코드"><br>
                    <!-- <label for="pwd">Password:</label><br> -->
                    <input type="text" id="section" name="section" placeholder="분반">
                    <button href="#">검색</button>
                </form>
            </div>
            
        </div>
    </div>


    <script>

    </script>

</body>
{% endblock %}