{% extends 'base.html' %}
{% load display_image %}
{% block content %}
<div class="bottom">
    <div class="card shadow mb-5 bg-white rounded" style="width: 1000px; height: auto; display: blcok; margin: 0px auto;">
        <div class="card-header">
            <div>중고 거래 게시판</div>
        </div>
        <div class="card">
            <div class="card-body ">
                <form class="search_class" action="submit" method="get">
                    <div class="left">
                        <input type="text" id="book_title" name="book_title" placeholder="책 제목을 입력 하세요">
                        <button class="btn btn-sm btn-outline-secondary" type="submit">검색</button>
                    </div>
                </form>
                <div class="right">
                    <a class="btn btn-dark" href="{% url 'upload' %}">등록</a>
                </div>
                {% if searched == True %}<div>
                    <h3 stye>{{book_title}}</h3>
                </div>{% endif %}

                {% for post in book_list %}
                <div class="card" style="padding: 20px; margin-top: 20px; margin-bottom: 20px;">
                    
                    <div class="key_info">
                        <div class="left">
                            
                                {% if post.5 == 1 %}<div class="sold">[판매완료]</div>{% endif %}
                                {% if post.5 == 0 %}<div class="not_sold">[판매중]</div>{% endif %}
                            
                            <div class="condition"> {{post.id}}상태:
                                {% if post.2 == 1 %} 상 {% endif %}
                                {% if post.2 == 2 %} 중 {% endif %}
                                {% if post.2 == 3 %} 하 {% endif %}
                            </div>
                            <div class="price">가격: {{post.1}}</div>
                        </div>
                        <div class="right dropdown">
                            <button class="btn btn-light">{{post.7}}</button>
                            <div class="dropdown-content">
                                <a href="#">{{request.user}} 총 complain 갯수: {{post.8}}</a>
                                <a href="{% url 'complain' post.7 request.user.username %}">Complain</a>
                            </div>
                        </div>

                        <div class="right">{{post.6}}
                            {% if post.7 == request.user.username %}
                            <button class="btn btn-primary" href="{% url 'book_sold' post.9 %}">판매 상태 전환</button>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class='post_content'>
                        <image width="200px" style = "width: 200px; margin: 0 auto;"src="data:image;base64,{{ post.3 | display_img }}">
                        <div class="description">{{post.4}}</div>
                    </div>
                </div>
                
                {% endfor %}
                
                

            </div>
            
        </div>
    </div>
</div>
</div>

<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction(i) {
        console.log(i)
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    $(document).ready(function () {
        $('.toggle_btn').click(function () {
            $('.comments').attr('style', 'display:block;');

        });
    });
</script>


{% endblock %}